.contentHost {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .contentPicture {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;

        .nameHost {
            white-space: pre-line;
            font-size: 18px;
            text-align: end;
            font-weight: 500;
            color: #FF6060;
        }

        .pictureHost {
            display: block;
            object-fit: cover;
            width: 64px;
            height: 64px;
            border-radius: 50%;

        }
    
    }
    .startNotation {
        display: flex;
        gap: 15px;
        align-items: center
    }

}
